apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: elk
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: cr.yandex/<REG_ID>/elk-api:latest
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: elk
spec:
  type: NodePort
  selector:
    app: api
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      nodePort: 30080
